@use 'styles/variables/variables';

.section--actualites{
    background-color: variables.$lapislazuli;
    width: 100%;
    height: auto;
    border-radius: 30% 20% 100% 0% / 0% 0% 100% 100%;
    margin-bottom: 5rem;
    
    h2{
        color: variables.$applegreen;
        margin-top: 5rem;
    }
    .container-fluid{
        margin: auto 0;
    }
    .grid{
        place-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        .card-nouvelle{
            display: flex;
            width: 750px;
            height: 300px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            .img-nouvelle{
                img{
                    width:325px;
                    height: 100%;
                    object-fit: cover;
                }
            }
            p{
                font-size: 12px;
            }
            h4{
                font-size: 22px;
                color:variables.$lapislazuli;
            }
            h5{
                font-size: 14px;
            }
            .text-nouvelle{
                padding:1.5rem;
                background-color: variables.$white;
                &--soustitre{
                    color: variables.$goldenrod;
                }
            }
        }
    }
}