@use 'styles/variables/variables';

.section--actualites{
    background-color: variables.$lapislazuli;
    width: 100%;
    height: auto;
    border-radius: 30% 20% 100% 0% / 0% 0% 100% 100%;
    margin-bottom: 5rem;
    h2{
        color: variables.$applegreen;
        margin-top: 5rem;
    }
    .container-fluid{
        margin: auto 0;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        .card-nouvelle{
            display: flex;
            width: 560px;
            height: 230px;
            .img-nouvelle{
                img{
                    width:250px;
                    height: 250px;
                    object-fit: cover;
                }
            }

            .text-nouvelle{
                background-color: variables.$white;
            }
        }
    }
}