@use 'styles/variables/variables';

.btn--donation{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 60px;
    text-align: center;
    padding-top:0.75rem;
    background-color: variables.$lapislazuli;
    border-radius: 15px;
    cursor: pointer;
    padding-bottom: 2rem;
        a{
            font-size: 25px;
        }
}

//.btn--navbar{}

.btn--section-donation{
    border: none;
    color: variables.$white;
    background: variables.$applegreen;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 155px;
    height: 42px;
}