@use 'styles/variables/variables';

.btn--donation{
    margin-left: auto;
    margin-right: auto;
    width: 244px;
    height: 67px;
    text-align: center;
    padding-top:1rem;
    background-color: variables.$lapislazuli;
    border-radius: 15px;
    cursor: pointer;
    padding-bottom: 2rem;
        a{
            font-size: 25px;
        }
}