@use 'styles/variables/variables';

footer{
    background-color: variables.$darkgray;
    height: 400px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    p, a{
        color: white;
        margin: 0;
        padding: 0;
    }
    .copyright {
        text-align: center;
        opacity: 1;
        font-size: 1em;
        padding-top:1.5rem;
        bottom: 0;
    }
    .contact{
        margin-left: 20rem;
    }
    .logo--footer{
       margin-left:auto;
       margin-right:auto;
       height: 200px;
       width: 300px;
       object-fit:none;
    }
    .item.social{
        text-align: center;
    }
    .item.social>a {
        font-size: 36px;
        width: 36px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        text-align: center;
        margin: 0 12px;
        color: #fff;
        opacity: 1;
        transition: all 115ms ease-in-out;

        &:hover{
            color:variables.$lapislazuli;
            transform: scale(1.15);
        }
    }
}

@media screen and (max-width:375px){
    footer{height:335px;}
}
