@use 'styles/variables/variables';

.header {
    width: 100%; height: 100vh;
    background: linear-gradient(to top, variables.$lapislazuli, transparent);
    .hero {
        width: 100%; height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            .btn {
                border: none;
                color: variables.$white;
                background: black;
                border-radius: 10px;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                margin-top: 50px;
                &.primary {background: variables.$lapislazuli;}
                &.secondary {background: variables.$applegreen}
            }
        }
    }
}