@use 'styles/variables/variables';

.header {
    width: 100%; height: 100vh;
    background: linear-gradient(to top, variables.$lapislazuli, transparent);
    .hero {
        width: 100%; height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .container-fluid {
            margin-left: 8vw;
        }
    }
}