
@use 'styles/variables/variables';
 

 .swiper-services{
   .swiper-slide{
     background-size: cover;
   }
 }
.container {
  height: auto;
}

.mySwiper {
  position: relative;
  height:100%;
}


.swiper {
  height: 50vh;
  margin: 2em 2em;
}
.swiper-wrapper {
  display: flex;

}
.swiper-slide{ 
  bottom:0;
  font-size: 18px;
  background:black;
  display: flex;
  justify-content:center;
  width:100%;
  color:white;
  a{position: relative;
    top:50%;
    font-size:25px;
  }
  
}


.swiper-slide img {
  display: block;
  width: 285px;
 
  object-fit: cover;
}

.swiper-button-next {
  background-color: #5B721D;
  color:white;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  top:20vh;
  right:10px;
  left:auto;
}
.swiper-button-prev {
  position: absolute;
  background-color:#5B721D;
  color:white;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  right: 10px;
  top: 30vh;
  left: auto;
}
