@use 'styles/variables/variables';
@use 'sass:color';

.btn--hero {
    border: none;
    padding: 0.6rem 1.3rem;
    color: variables.$white;
    background: black;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 50px;
    transition: all 150ms ease;
    &.primary {
        background: variables.$lapislazuli;
        &:hover {background: variables.$indigodye}
    }
    &.secondary {
        background: variables.$applegreen;
        &:hover {background: variables.$darkolive}
    }
}

.btn--donation{
    margin: 0 auto;
    width: max-content;
    padding: 0.6rem 1.3rem;
    background-color: variables.$lapislazuli;
    border-radius: 15px;
    cursor: pointer;
    transition: all 150ms ease;
    a { 
        font-size: 20px;
        &:hover {color: variables.$white}
    }
    &:hover {
        background: variables.$indigodye;
        color: variables.$white;
    }
}

.btn--menu{
    border: none;
    width: max-content;
    padding: 0.6rem 1.3rem;
    color: variables.$white;
    background: black;
    border-radius: 15px;
    font-weight: 600;
    margin-top: 15px;
    transition: all 150ms ease;
    &.primary {
        background: variables.$lapislazuli;
        &:hover {background: variables.$indigodye}
    }
    &.secondary {
        background: variables.$applegreen;
        &:hover {background: variables.$darkolive}
    }
}

.btn--section-donation{
    border: none;
    color: variables.$white;
    background: variables.$applegreen;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: max-content;
    padding: 0.6rem 1.3rem;
    transition: all 150ms ease;

    &:hover {background: color.adjust(variables.$darkolive, $lightness: 10%)}
}

.btn--temoignage {
    background-color: variables.$applegreen;
    padding: 0.6rem 1.3rem;
    border-radius: 15px;
    color: variables.$white;
    transition: all 150ms ease;

    &:hover {background: variables.$darkolive; color: variables.$white;}
}

.btn--actualite {
    color: variables.$goldenrod;
    transition: all 150ms ease;
    &:hover {
        color: color.adjust(variables.$goldenrod, $blackness: 20%);
    }
    &::after {
        content: '\27A5';
        font-family: 18px;
        padding-left: 5px;
        transition: all 150ms ease;
        opacity: 0;
    }
    &:hover::after {
        opacity: 1
    }
}