@use 'styles/variables/variables';

.section__about{
    .container-fluid{
        padding-top: 3rem;
    }
    .container{
        padding: 3rem 2rem;
    }
    li{
        color: variables.$darkolive;
        margin-left: 2.5rem;
        padding: 0;
    }
    h5{
        padding:0.5rem 0;
    }

    @media (min-width:1375px) {
        h2{
            padding-left: 10vw;
        }
        li{
            margin-left: 5rem;  
        }
    }
}