@use 'styles/variables/variables';


  
  

.section--donation{
    background-color: variables.$darkolive;
    display: flex;
    width: 100%;
    padding: 3rem 15px;
    margin-right: auto;
    margin-left: auto;
    .grid{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        gap:10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: auto 0;
    }
    .text{
        align-items: center;
        margin: auto 0;

    }
    
    p{
        color: variables.$applegreen;
        font-size: 12px;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 16px;
    }
    /* GSAP DONATION */


    .leafAnimGrid{
        text-align: center;
        margin: auto 0;
            overflow: hidden;
            height: 250px;
            width: 100%;

    }

    .leafAnim{
        position: relative;
        bottom: 27vh;
    }

.leaf{
    position: relative;
    top: -26%;
    left: 0.5vw;
    transform: rotate(15deg);
  }
  
  .leaf2{
    position: relative;
    top: -40%;
    left: 1vw;
    transform: rotate(15deg);
  }
  



//tablette
@media only screen and (min-width: 768px){
    p{
        font-size: 16px !important;
    }
    h3{
        font-size: 32px !important;
    }
    h4{
        font-size: 24px !important;
    }
    .leafAnim{
        .leaf{
            height: 275px !important;
            width: 275px !important;
        }
        .leaf2{
            height: 275px !important;
            width: 275px !important;
        }
    }
}

@media only screen and (min-width:992px) {
    .grid{
        grid-template-columns:60% 40% !important;
        text-align: left !important;
    }
    h3{
        font-size: 40px !important;
    }
    h4{
        font-size: 30px !important;
    }
    .leafAnim{
        padding-left: 9vw !important;
        .leaf{
            height: 100% !important;
        }
        .leaf2{
            height: 100% !important;
        }
    }
    .text{
        padding-left: 9vw !important;
    }
}

@media only screen and (max-width:1826px) {
    
    .leafAnim{
        padding-left: 9vw !important;
        .leaf{
            height: 100% !important;
        }
        .leaf2{
            display: none;
            height: 100% !important;
        }
    }
    
}




}
