@use 'styles/variables/variables';


.section__team{
    padding-top: 3rem;
    h2{
        padding-bottom: 1rem;
    }
    .grid__title{
        padding-top: 1rem;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
        justify-content: center;
        .team__card{
         .card__title{
         }  
         .card__img{
            width: 250px;
            height: 250px;
            object-fit: cover;
         } 
         .card__desc{

         }
        }
    }

    @media (min-width:992px) {
        .grid{
            grid-template-columns: 1fr 1fr 1fr;
            .team__card{
            }
        }
        h2{
            padding-left: 3vw;
            padding-top: 3rem;
        }
    }
}