@use 'styles/variables/btn';
@use 'styles/variables/card';
@use 'styles/variables/footer';
@use 'styles/variables/navbar';
@use 'styles/variables/variables';
@use 'styles/variables/hero';
@use 'styles/variables/actualites';
@use 'styles/variables/donations';
@use 'styles/variables/temoignages';

*, *::before, *::after { box-sizing: border-box; padding: 0; margin: 0;}

h1, h2, h3, h4, h5, h6 {@include variables.title;}

h1{
    color: variables.$lapislazuli;
    font-size: 80px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
h2{
    color: variables.$darkolive;
    font-size: 60px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
h3{
    color: variables.$applegreen;
    font-size: 40px;
}
h4{
    color: variables.$applegreen;
    font-size: 30px;
}
h5{
    color: variables.$darkolive;
    font-size: 16px;
}
h6{
    color: variables.$applegreen;
    font-size: 12px;
}

p{
    @include variables.text;
    font-size: 16px;
}

a,
a:hover,
a:active{
    @include variables.links;
    text-decoration: none;    
}

//scrollbar
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 13px;
    border: 2px solid transparent;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

//Permet de controler la couleur de la scrollbar pour qu'elle devienne visible une fois le body survolé
body {
    color: rgba(0,0,0,0);
    transition: all 150ms ease;
    overflow: overlay;
    &:hover {color: variables.$applegreen;}
}

@media  screen and (max-width:576px) {
    h1{font-size: 60px;}
    h2{font-size: 40px;}
    h3{font-size: 20px;}
    h4{font-size: 15px;}
    h5{font-size: 12px;}
}